@charset "UTF-8";

:root {
  --haru: #0C808D;
  --m-width: 24.375rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans KR", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
/*   width: 24.375rem; */
  margin: auto;
  padding: 0;
/*   display: flex; */
  justify-content: center; /* 화면 가로 중앙 정렬 */
  align-items: flex-end; /* 화면 하단 정렬 */
  height: 100vh; /* 전체 화면 높이 */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  text-align: left;
  background-color: #f2f2f2;
}

body{
 -ms-overflow-style: none;
 }
 
::-webkit-scrollbar {
  display: none;
}


[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #858796;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

label {
  display: inline-block;
}

button {
	font-family: "Noto Sans KR", serif;
	border-radius: 12px;
	border: none;
}
.btn-primary {
  color: #fff;
  background-color: var(--haru);
  border-color: var(--haru);
}

.btn-primary:hover {
  color: #fff;
  background-color: #2A8C95;
  border-color: #2A8C95;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: var(--haru);
  border-color: var(--haru);
/*   box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5); */
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #5D8A8E;
  border-color: #5D8A8E;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--haru);
  border-color: var(--haru);
}

select {
	-webkit-appearance:none; /* for chrome */
   	-moz-appearance:none; /*for firefox*/
   	appearance:none;
   	
   	background-image: url("/img/drop_arrow.png");  
	background-repeat: no-repeat;  
	background-position: 89% center;  
	background-size: 1.2rem;
	cursor: pointer;
}

#back {    
	position: absolute;    
	z-index: 100;    
	background-color: #000000;    
	display:none;    
	left:0;    
	top:0;
} 
#loadingBar {    
	position:absolute;    
	left:50%;    
	top: 42%; 
	transform: translate(-50%, -50%);    
	display:none;    
	z-index:200;
}



/* 모바일 버전 컨테이너 */
body > .haru-user-container {
	position: relative;
	width: 24.375rem;
	background: #fff;
	margin: auto;
}


/* summernote 읽기전용 */
.note-editable {
	background: white !important;
/* 	padding: 0 !important; */
}
.note-editor {
	border: none !important;
}
.note-statusbar {
	display: none !important;
}




/* header Top Bar */
.haru-user-topbar {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	width: var(--m-width);
	height: 3.8rem;
	background: #fff;
	border-bottom: 1px solid #f2f2f2;
	color: #6F7173;
	z-index: 999;
}

.haru-user-topbar .topbar-title {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.125rem;
	font-weight: 600;
}

.haru-user-topbar .topbar-title i,
.haru-user-topbar .topbar-title .cart-shopping {
	color: black;
	width: 45px;
	text-align: end;
	position: relative;
}
.haru-user-topbar .topbar-title .fa-chevron-left {
	text-align: end;
	padding-right: 0.7rem;
}
.haru-user-topbar .topbar-title .cart-shopping {
	text-align: start;
}

.user-body-container {
	width: 100%;
    height: 100%;
    padding-inline: 1.25rem;
    padding-top: 4.5rem;
    padding-bottom: 5rem;
    overflow-y: scroll;
    color: black;
}

.user-notice-listdiv {
	position: relative;
	width: 100%;
	height: 95px;
	padding-block: 20px;
	border-bottom: 1px solid #d9d9d9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
}
.user-notice-listdiv > i {
	position: absolute;
	right: 1rem;
}

.user-notice-listdiv:last-of-type {
	border-bottom: 0;
}

.user-notice-listdiv > div:nth-child(1) {
	font-weight: 600;
}
.user-notice-listdiv > div:nth-child(2) {
	font-weight: 400;
	color: #6F7173;
	margin-top: 0.375rem;
}

.user-notice-info {
	padding-bottom: 1rem;
	border-bottom: 2px solid black;
}
.user-notice-title {
/* 	font-size: 1.25rem; */
	font-weight: 600;
}
.user-notice-date {
	margin-top: 1rem;
	color: #6F7173;
	
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}


.sc_count {
	color: white;
    background-color: var(--haru);
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: 18px;
    font-size: 0.9rem;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
}

.shopping-filter {
	margin-top: 10px;
}
.shopping-filter .shopping-bcd-div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 70%;
	margin: auto;
}
.shopping-filter .shopping-filter-bcd {
	border: 2px solid #e9e9e9;
	border-radius: 20px;
	color: #6F7173;
	width: 60px;
	height: 36px;
	text-align: center;
	line-height: 33px;
}
.shopping-filter-bcd.active {
	color: white;
	background: var(--haru);
	border-color: var(--haru);
}

.shopping-filter .shopping-mcd-div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 80%;
	margin: auto;
	margin-top: 1rem;
}
.shopping-filter .shopping-mcd-div > span.active {
	border-bottom: 2px solid var(--haru);
}

.shopping-product-list {
    margin-top: 2rem;
	display: grid;
    grid-template-columns: repeat(2, 1fr);
	row-gap: 30px;
	column-gap: 30px;      
}

.shopping-product-list .product-thumbnail-div {
	width: 160px;
	height: 160px;
	border-radius: 10px;
	background-color: #d9d9d9;
}

.product-info-desc > div{
	width: 160px;
}
.product-info-desc .js-pbrand {
	font-weight: 400;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.product-info-desc .js-pname {
	font-weight: 600;
	overflow: hidden;
  	text-overflow: ellipsis;
  	display: -webkit-box;
  	-webkit-line-clamp: 2;
  	-webkit-box-orient: vertical;
}
.product-info-desc .js-pprice {
	margin-top: 0.25rem;
	font-weight: 600;
}


.js-pl-pagination {
	margin-block: 2rem;
	text-align: center;
	display: flex;
	justify-content: center;
}
.js-pl-pagination .haru-pagenum {
	width: 15px;
	margin-inline: 10px;
}
.js-pl-pagination .haru-pagenum.active {
	border-bottom: 2px solid var(--haru);
}

.product-detail-thumb {
	width: 100%;
    height: 320px;
    background-color: #d9d9d9;
    border-radius: 10px;
}
.product-detail-info {
	margin-top: 1rem;
}
.product-detail-info .js-pbrand {
	font-size: 0.9rem;
	font-weight: 400;
}
.product-detail-info .js-pname {
	font-size: 1.025rem;
	margin-top: 0.5rem;
	font-weight: 600;
}
.product-shop-quantity {
	margin-top: 1.125rem;
	padding-inline: 0.75rem;
	width: 100%;
	height: 50px;
	border-radius: 15px;
	background-color: rgba(208, 227, 231, 0.3);
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 1;
}
.product-shop-quantity .product-quantity-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}
.product-shop-quantity .product-quantity-btn > input[type='text'] {
	width: 40px;
	height: 30px;
	text-align: center;
	border: none;
}
.product-shop-quantity .product-quantity-btn > button {
	width: 30px;
	height: 30px;
	color: white;
	background: var(--haru);
	border-radius: 5px;
}
.product-shop-quantity .product-quantity-btn > button:nth-of-type(1) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0; 
}
.product-shop-quantity .product-quantity-btn > button:nth-of-type(2) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0; 
}

.js-shop-btn-div {
	background: white;
	padding: 10px;
	width: var(--m-width);
	height: 60px;
	bottom: 4.5rem;
	position: fixed;
	transition: all 0.2s;
	
	display: flex;
    justify-content: space-around;
    align-items: center;
}
.js-shop-btn-div.fixed {
	visibility: hidden;
	transition: all 0.2s;
}
.js-shop-btn-div > button {
	width: 170px;
	height: 45px;
	font-weight: 500;
}
.js-shop-btn-div .btn-sub {
	color: var(--haru);
	border: 2px solid var(--haru);
	background: white;
}


.product-info-choice {
	margin-block: 2.5rem;
}
.js-pi-radio {
	display: flex;
	justify-content: center;
}
.js-pi-radio .pi-radio-btn.radio-info {
	margin-right: 1rem;
}
.js-pi-radio .pi-radio-btn > input[type=radio] {
	display: none;
}
.js-pi-radio .pi-radio-btn > label {
	font-size: 0.9rem;
	font-weight: 500;
	letter-spacing: 1.2;
}
.pi-radio-btn input[type=radio]:checked + label {
	border-bottom: 2px solid var(--haru);
	margin-bottom: 0;
}

.js-product-review {
/* 	padding-block: 1rem; */
}
.js-p-review-div {
	margin-top: 1rem;
	background-color: #f2f2f2;
	padding: 0.625rem;
	border-radius: 8px;
}
.js-product-review .p-review-img {
	object-fit: cover;
	border-radius: 10px;
	width: 100px;
	height: 100px;
}
.js-product-review .p-review-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 10px;
}
.js-product-review .p-review-top > div:nth-of-type(1) {
	font-weight: 500;
	font-size: 14px;	
}
.js-product-review .p-review-top > div:nth-of-type(2) {
	font-size: 11px;	
}

.go-whole-review {
	border: 2px solid #d9d9d9;
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
    padding: 8px;
    text-align: center;
    margin-top: 2rem;
}





